body {
    margin: 0;
}

.bg {
    height: 1000px;
    width: 100vw;
    background: black;
    display: flex;
}

.container {
    margin-top: 150px;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background: #a699b3;
}

.block {
    background: burlywood;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    position: relative;
    top: 200px;
}