body {
    margin: 0;
}

.container {
    justify-content: center;
    display: flex;
}

.cards {
    width: 300px;
    height: 320px;
    border: black solid 1px;
    /*box-sizing: border-box;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 50px;
}

.midddle {
    text-align: center;
}

.bottom {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: black solid 1px;
    justify-content: center;
    display: flex;
    align-items: center;
}

h4 {
    color: #a699b3;
}